body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(N.jpg);
}

header {
    width: 100%;
    background: #e10cc4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 25;
}

.currency-toggle {
    display: flex;
    align-items: center;
}

.currency-toggle label {
    margin-right: 10px;
}

.pricing-tiers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.pricing-card {
    background: #f6f8f7;
    border: 1px solid S#fafcf8;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pricing-card h2 {
    margin-top: 0;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

@media (max-width: 600px) {
    .pricing-tiers {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        width: 100%;
        max-width: 90%;
    }
}